*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6rem;
  line-height: 1;
  height: 100vh;
  background-color: #dadada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4rem;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-item {
  position: relative;
  z-index: 2;
  border: none;
  width: 6rem;
  height: 6rem;
  font-size: 2.4rem;
  display: inline-block;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1rem #2e2d2d, 0 0 10rem #444343;
          box-shadow: 0 0 1rem #2e2d2d, 0 0 10rem #444343;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.social-item:hover ~ .tooltip {
  visibility: visible;
  -webkit-transform: translateY(-280%);
          transform: translateY(-280%);
  opacity: 1;
}
.social-item.facebook:hover {
  background-color: #036ae0;
  color: #fff;
}
.social-item.github:hover {
  background-color: #383b38;
  color: #fff;
}
.social-item.twitter:hover {
  background-color: #7dcefd;
  color: #fff;
}
.social-item.instagram:hover {
  background-color: #e94b86;
  color: #fff;
}
.social-item.youtube:hover {
  background-color: #ff0000;
  color: #fff;
}

.tooltip {
  visibility: hidden;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  background-color: #4d4848;
  padding: 1.4rem;
  border-radius: 3rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  opacity: 0;
  z-index: 1;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.tooltip::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 15px solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.tooltip.facebook {
  background-color: #036ae0;
  color: #fff;
}
.tooltip.github {
  background-color: #383b38;
  color: #fff;
}
.tooltip.twitter {
  background-color: #7dcefd;
  color: #fff;
}
.tooltip.instagram {
  background-color: #e94b86;
  color: #fff;
}
.tooltip.youtube {
  background-color: #ff0000;
  color: #fff;
}
.tooltip.facebook::after {
  border-top-color: #036ae0;
}
.tooltip.github::after {
  border-top-color: #383b38;
}
.tooltip.twitter::after {
  border-top-color: #7dcefd;
}
.tooltip.instagram::after {
  border-top-color: #e94b86;
}
.tooltip.youtube::after {
  border-top-color: #ff0000;
}